fms-gui-web/src/assets/xml/FMS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="FMS" type="FMSType"/>
  <xs:complexType name="PowerType">
    <xs:sequence>
      <xs:element type="xs:double" name="Voltage"/>
      <xs:element type="xs:double" name="VoltageCell"/>
      <xs:element type="xs:double" name="Current"/>
    </xs:sequence>
    <xs:attribute type="xs:time" name="LocalTimestamp"/>
  </xs:complexType>
  <xs:complexType name="ConnectionQualitySensType">
    <xs:sequence>
      <xs:element type="xs:double" name="Quality"/>
    </xs:sequence>
    <xs:attribute type="xs:time" name="LocalTimestamp"/>
  </xs:complexType>
  <xs:complexType name="FlagsType">
    <xs:sequence>
      <xs:element type="xs:boolean" name="adc_initialized"/>
      <xs:element type="xs:boolean" name="dac_initialized"/>
      <xs:element type="xs:boolean" name="dma_initialized"/>
      <xs:element type="xs:boolean" name="flash_ssp_initialized"/>
      <xs:element type="xs:boolean" name="i2c0_initialized"/>
      <xs:element type="xs:boolean" name="i2c1_initialized"/>
      <xs:element type="xs:boolean" name="i2c2_initialized"/>
      <xs:element type="xs:boolean" name="uart0_initialized"/>
      <xs:element type="xs:boolean" name="uart1_initialized"/>
      <xs:element type="xs:boolean" name="uart2_initialized"/>
      <xs:element type="xs:boolean" name="uart3_initialized"/>
      <xs:element type="xs:boolean" name="rtc_initialized"/>
      <xs:element type="xs:boolean" name="ssp1_initialized"/>
      <xs:element type="xs:boolean" name="structs_initialized"/>
      <xs:element type="xs:boolean" name="systick_initialized"/>
      <xs:element type="xs:boolean" name="timer1_initialized"/>
      <xs:element type="xs:boolean" name="watchdog_initialized"/>
      <xs:element type="xs:boolean" name="eeprom_initialized"/>
      <xs:element type="xs:boolean" name="ars_initialized"/>
      <xs:element type="xs:boolean" name="power_management_initialized"/>
      <xs:element type="xs:boolean" name="flash_initialized"/>
      <xs:element type="xs:boolean" name="seven_segment_intern_initialized"/>
      <xs:element type="xs:boolean" name="seven_segment_extern_initialized"/>
      <xs:element type="xs:boolean" name="startup_success"/>
      <xs:element type="xs:boolean" name="sensor_pressure_initialized"/>
      <xs:element type="xs:boolean" name="startup_checked"/>
      <xs:element type="xs:boolean" name="sensor_imu_initialized"/>
      <xs:element type="xs:boolean" name="sensor_tmp100_initialized"/>
      <xs:element type="xs:boolean" name="sensor_hig_initialized"/>
      <xs:element type="xs:boolean" name="sensor_gyro_initialized"/>
      <xs:element type="xs:boolean" name="gnss_initialized"/>
      <xs:element type="xs:boolean" name="servo_initialized_all"/>
      <xs:element type="xs:boolean" name="pwm_initialized"/>
      <xs:element type="xs:boolean" name="afs_initialized"/>
      <xs:element type="xs:boolean" name="camera_initialized"/>
      <xs:element type="xs:boolean" name="sensor_current_initialized"/>
      <xs:element type="xs:boolean" name="igniter_initialized"/>
      <xs:element type="xs:boolean" name="separation_detection_initialized"/>
      <xs:element type="xs:boolean" name="servo_configured"/>
      <xs:element type="xs:boolean" name="igniter_configured"/>
      <xs:element type="xs:boolean" name="igniter_1_fired"/>
      <xs:element type="xs:boolean" name="igniter_2_fired"/>
      <xs:element type="xs:boolean" name="igniter_3_fired"/>
      <xs:element type="xs:boolean" name="igniter_4_fired"/>
      <xs:element type="xs:boolean" name="igniter_1_firing"/>
      <xs:element type="xs:boolean" name="igniter_2_firing"/>
      <xs:element type="xs:boolean" name="igniter_3_firing"/>
      <xs:element type="xs:boolean" name="igniter_4_firing"/>
      <xs:element type="xs:boolean" name="igniter_armed"/>
      <xs:element type="xs:boolean" name="igniter_1_connected"/>
      <xs:element type="xs:boolean" name="igniter_2_connected"/>
      <xs:element type="xs:boolean" name="igniter_3_connected"/>
      <xs:element type="xs:boolean" name="igniter_4_connected"/>
      <xs:element type="xs:boolean" name="ars_enabled"/>
      <xs:element type="xs:boolean" name="camera_on"/>
      <xs:element type="xs:boolean" name="gnss_powersave"/>
      <xs:element type="xs:boolean" name="flash_erased"/>
      <xs:element type="xs:boolean" name="flash_store_data"/>
      <xs:element type="xs:boolean" name="radio_on"/>
      <xs:element type="xs:boolean" name="radio_tx_active"/>
      <xs:element type="xs:boolean" name="flash_flight_header_written"/>
      <xs:element type="xs:boolean" name="timer1_running"/>
      <xs:element type="xs:boolean" name="rtc_synchronized"/>
      <xs:element type="xs:boolean" name="usb_connection_detected"/>
      <xs:element type="xs:boolean" name="watchdog_timeout_occured"/>
      <xs:element type="xs:boolean" name="flash_full"/>
      <xs:element type="xs:boolean" name="crystal_oszillator_used"/>
      <xs:element type="xs:boolean" name="liftoff_detected"/>
      <xs:element type="xs:boolean" name="gnss_fix"/>
      <xs:element type="xs:boolean" name="rocket_panic"/>
      <xs:element type="xs:boolean" name="mainchute_altitude_detected"/>
      <xs:element type="xs:boolean" name="eagle_landed"/>
      <xs:element type="xs:boolean" name="rocket_is_stable"/>
      <xs:element type="xs:boolean" name="apogee_detected_by_kalman"/>
      <xs:element type="xs:boolean" name="recovery_mode"/>
      <xs:element type="xs:boolean" name="check_stability_executed"/>
      <xs:element type="xs:boolean" name="config_intialized"/>
      <xs:element type="xs:boolean" name="stages_separated"/>
      <xs:element type="xs:boolean" name="igniter_hpower_fired"/>
      <xs:element type="xs:boolean" name="igniter_hpower_firing"/>
      <xs:element type="xs:boolean" name="igniter_hpower_connected"/>
      <xs:element type="xs:boolean" name="reset_during_flight"/>
      <xs:element type="xs:boolean" name="housekeeping_data_read"/>
      <xs:element type="xs:boolean" name="mbb_satcom_configured"/>
      <xs:element type="xs:boolean" name="mbb_satcom_initialized"/>
      <xs:element type="xs:boolean" name="mbb_cameras_configured"/>
      <xs:element type="xs:boolean" name="mbb_cameras_initialized"/>
      <xs:element type="xs:boolean" name="power_management_operational"/>
      <xs:element type="xs:boolean" name="rail_5v_enabled"/>
      <xs:element type="xs:boolean" name="padding1"/>
      <xs:element type="xs:boolean" name="padding2"/>
      <xs:element type="xs:boolean" name="battery_overvoltage"/>
      <xs:element type="xs:boolean" name="battery_only_attached"/>
      <xs:element type="xs:boolean" name="rail_3v3_sensor_enabled"/>
      <xs:element type="xs:boolean" name="rail_3v3_gnss_enabled"/>
      <xs:element type="xs:boolean" name="rail_3v3_external_enabled"/>
      <xs:element type="xs:boolean" name="cmd_buffer_overrun"/>
      <xs:element type="xs:boolean" name="eeprom_page_cycle_overflow"/>
      <xs:element type="xs:boolean" name="flash_dma_buffer_overrun"/>
      <xs:element type="xs:boolean" name="flash_write_error"/>
      <xs:element type="xs:boolean" name="i2c_job_buffer_overflow"/>
      <xs:element type="xs:boolean" name="i2c_interrupt_handler_error"/>
      <xs:element type="xs:boolean" name="interrupt_interference"/>
      <xs:element type="xs:boolean" name="uart0_tx_buffer_overflow"/>
      <xs:element type="xs:boolean" name="uart0_rx_buffer_overflow"/>
      <xs:element type="xs:boolean" name="uart1_tx_buffer_overflow"/>
      <xs:element type="xs:boolean" name="uart1_rx_buffer_overflow"/>
      <xs:element type="xs:boolean" name="uart2_tx_buffer_overflow"/>
      <xs:element type="xs:boolean" name="uart2_rx_buffer_overflow"/>
      <xs:element type="xs:boolean" name="uart3_tx_buffer_overflow"/>
      <xs:element type="xs:boolean" name="uart3_rx_buffer_overflow"/>
      <xs:element type="xs:boolean" name="ssp1_interrupt_ror"/>
      <xs:element type="xs:boolean" name="ssp1_interrupt_unknown_device"/>
      <xs:element type="xs:boolean" name="ssp1_buffer_overflow"/>
      <xs:element type="xs:boolean" name="watchdog_interrupt_handler_hit"/>
      <xs:element type="xs:boolean" name="flight_substate_default_handler_hit"/>
      <xs:element type="xs:boolean" name="rocket_state_default_handler_hit"/>
      <xs:element type="xs:boolean" name="struct_size_overflows_uart_buffer"/>
      <xs:element type="xs:boolean" name="config_from_eeprom"/>
      <xs:element type="xs:boolean" name="event_actions_from_eeprom"/>
      <xs:element type="xs:boolean" name="brown_out_warning_level_interrupt_hit"/>
      <xs:element type="xs:boolean" name="lora_overtemperature"/>
      <xs:element type="xs:boolean" name="lora_critical_temperature"/>
      <xs:element type="xs:boolean" name="mbb_satcom_running"/>
      <xs:element type="xs:boolean" name="mbb_cameras_running"/>
      <xs:element type="xs:boolean" name="development_mode"/>
      <xs:element type="xs:boolean" name="servo_sweep_in_progress"/>
      <xs:element type="xs:boolean" name="powerdown_desired"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayType">
    <xs:sequence>
      <xs:element type="xs:unsignedInt" name="Element0"/>
      <xs:element type="xs:unsignedInt" name="Element1"/>
      <xs:element type="xs:unsignedInt" name="Element2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Servo_posType">
    <xs:sequence>
      <xs:element type="ArrayType" name="Array"/>
    </xs:sequence>
  </xs:complexType>
  <!-- Not Done -->
  <xs:complexType name="StatusType">
    <xs:sequence>
      <xs:element type="FlagsType" name="Flags"/>
      <xs:element type="xs:unsignedLong" name="Timestamp"/>
      <xs:element type="xs:unsignedInt" name="Rocket_state"/>
      <xs:element type="xs:unsignedInt" name="Flight_substate"/>
      <xs:element type="Servo_posType" name="Servo_pos"/>
      <xs:element type="xs:unsignedInt" name="Sepadet_adc_value"/>
      <xs:element type="xs:unsignedInt" name="Radio_tx_byte_counter"/>
      <xs:element type="xs:unsignedInt" name="Flash_adr"/>
      <xs:element type="xs:string" name="Seven_segment_value"/>
      <xs:element type="xs:unsignedInt" name="Cpu_load"/>
      <xs:element type="xs:unsignedInt" name="Igniter_adc_voltage"/>
      <xs:element type="xs:unsignedInt" name="Liftoff_timestamp"/>
      <xs:element type="xs:unsignedInt" name="Apogee_timestamp"/>
      <xs:element type="xs:unsignedInt" name="Mainchute_timestamp"/>
      <xs:element type="xs:unsignedLong" name="Landing_timestamp"/>
      <xs:element type="xs:unsignedInt" name="Igniter_1_voltage"/>
      <xs:element type="xs:unsignedInt" name="Igniter_2_voltage"/>
      <xs:element type="xs:unsignedInt" name="Igniter_3_voltage"/>
      <xs:element type="xs:unsignedInt" name="Igniter_4_voltage"/>
      <xs:element type="xs:unsignedInt" name="Igniter_hpower_voltage"/>
      <xs:element type="xs:string" name="Orientation_of_fms"/>
    </xs:sequence>
    <xs:attribute type="xs:time" name="LocalTimestamp"/>
  </xs:complexType>
  <xs:complexType name="FMSType">
    <xs:sequence>
      <xs:element type="xs:time" name="StartingTime"/>
      <xs:element type="PowerType" name="Power"/>
      <xs:element type="ConnectionQualitySensType" name="ConnectionQualitySens"/>
      <xs:element type="StatusType" name="Status"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
